<div class="contextual">
    <% if testing_step.persisted? %>
        <%= link_to_function l(:button_edit), 'toggle_testing_steps()' %> |
        <%= link_to l(:button_delete), testing_step_path(testing_step),
        :method => :delete, :confirm => l(:text_are_you_sure) %>
    <% else %>
        <%= link_to_function l(:button_add), 'toggle_testing_steps()' %>
    <% end %>
</div>

<div id="testing-steps-display">
  <p>
  <strong><%= t('testing_steps.title_plural') %></strong>
  </p>
  <% if testing_step.text %>
    <div class="wiki">
    <p><%= textilizable testing_step, :text %></p>
    </div>
  <% end %>
</div>

<%= form_for(testing_step,
             :remote => true,
             :url => testing_step.persisted? ?
               testing_step_path(testing_step) :
               testing_steps_path,
             :method => testing_step.persisted? ? :put : :post,
             :html => {:id => 'testing-steps-form', :style => 'display: none;'}) do |f| %>
  <p><strong><%= t('testing_steps.title_plural') %></strong></p>
  <div style='margin: 10px 10px 0px 10px;'>
    <%= error_messages_for testing_step %>
    <%= f.hidden_field 'issue_id', :value => issue.id %>
    <%= f.text_area 'text', :rows => 5,
      :class => 'wiki-edit',
      :no_label => true %>
      <br />
      <%= check_box_tag 'mark_completed', 1, issue.testing_steps_done? %>
      <%= label_tag 'mark_completed', t('testing_steps.mark_complete') %>
      <br />
      <%= f.submit t(:button_submit), :onclick => "$('#testing_steps>.flash.error').remove(); return true;" %>
      <%= link_to_function t(:button_cancel), 'toggle_testing_steps()' %>
  </div>
<% end %>
