<%= error_messages_for @format %>

<%= form_for(@format, :html => { :id => 'format-form' }) do |f| %>
  <div class=splitcontentleft>
  <div class='box tabular'>
    <p>
    <%= f.label :name, l("testing_steps.formats.attributes.name") %>
    <%= f.text_field :name %>
    </p>
    <% %w(header start each_issue end).each do |attr| %>
      <p>
      <%= f.label attr, l("testing_steps.formats.attributes.#{attr}") %>
      <%= f.text_area attr, :cols => 40, :rows => 2 %>
      <em class='info'>
        <%= l("testing_steps.formats.explain.#{attr}") %>
      </em>
      </p>
    <% end %>

  </div>
  <%= f.submit(@format.new_record? ? l(:button_create) : l(:button_save)) %>
  <%= testing_steps_preview_link preview_testing_steps_format_path,
    'format-form', 'relnotes' %>
  </div>

  <div class=splitcontentright>
    <div class=box>
      <p><%= l('testing_steps.formats.subs.intro') %></p>

      <h3><%= l('testing_steps.formats.attributes.header') %></h3>
      <p><%= l('testing_steps.formats.subs.header') %></p>

      <h3><%= l('testing_steps.formats.attributes.each_issue') %></h3>
      <p><%= l('testing_steps.formats.subs.each_issue') %></p>
    </div>
  </div>

  <div style=clear:both;></div>
  <div style=display:none; id=testing_steps_container>
  <%= render :partial => 'testing_steps/generated_testing_steps' %>
  </div>
<% end %>

