<% stats = version.testing_steps_stats %>
<% cf_none_value =  Setting.plugin_redmine_testing_steps[:field_value_not_required] %>
<% cf_name = CustomField.find_by_id(Setting.plugin_redmine_testing_steps[:issue_custom_field_id]).name %> 

<fieldset id="testing-steps-completion">
  <legend><%= l('testing_steps.progress') %></legend>
  <table width='100%'>
  <tbody>
    <%# #1 Progress bar %>
    <tr><td>
      <% if  stats[:total] == 0 %>
        <em><%= l(:label_roadmap_no_issues) %></em>
      <% elsif stats[:required] == 0 %>
        <em><%= l('testing_steps.no_issues_for_this_version') %></em>
      <% else %>
        <%= progress_bar([stats[:completion], stats[:completion]],:width => '20em',:legend => " #{stats[:completion]}%") %>
      <% end %>
     </td></tr>
     
    <%# #2 Requiring testing steps %>
    <tr><td>
      <%= link_to_function t('testing_steps.x_requiring_testing_steps', :count => stats[:required]), 
		'toggle_testing_steps_div("testing-steps-details-required")', :class => "summary" %></td></tr>
    <tr><td>
      <%= render :partial => 'testing_steps/dashboard_list_required',
	:locals => {:version => version, :stats => stats} %></td></tr>

    <%# #3 Not requiring testing steps %>
    <tr><td>
      <%= link_to_function t('testing_steps.x_not_required', :count => stats[:not_required]),
		'toggle_testing_steps_div("testing-steps-details-not-required")', :class => "summary" %></td></tr>
    <tr><td>
      <%= render :partial => 'testing_steps/dashboard_list_not_required',
	:locals =>{:version => version, :stats => stats} %></td></tr>
	
    <%# #4 error %>
    <tr><td>
	<%= link_to_function t('testing_steps.x_invalid', :count => stats[:invalid], :cf_name => cf_name),
		'toggle_testing_steps_div("testing-steps-details-error")', :class => "summary error-text"  %></td></tr>
    <tr><td>
      <%= render :partial => 'testing_steps/dashboard_list_error',
	:locals =>{:version => version, :stats => stats} %></td></tr>

    <%# #5 Generate testing steps %>
    <tr><th class="summary"><%= link_to t('testing_steps.generate'), generate_testing_steps_path(version) %></td></tr>
 </tbody>
</table>
</fieldset>


